
<div id="square" class="flexIt">
  <app-turret [turretNumber]="1"></app-turret> 
  <app-turret [turretNumber]= "2"></app-turret>
  <app-turret [turretNumber]= "3"></app-turret>
  <app-turret [turretNumber]= "4"></app-turret>
  <app-laser-cannon></app-laser-cannon>
  <app-turret [turretNumber]= "5"></app-turret>
  <app-turret [turretNumber]= "6"></app-turret>
  <app-turret [turretNumber]= "7"></app-turret>
  <app-turret [turretNumber]= "8"></app-turret>
  <app-turret [turretNumber]= "9"></app-turret>
</div>
